Package: stacer
Version: 1.1.0hamonikr1
Architecture: all
Maintainer: HamoniKR Team <hamonikr-packages@googlegroups.com>
Installed-Size: 111101
Recommends: systemd, curl
Section: utils
Priority: optional
Homepage: https://github.com/chaeya/Stacer
Description: Linux System Optimizer and Monitoring
