Source: stacer
Section: utils
Priority: optional
Maintainer: HamoniKR Team <hamonikr-packages@googlegroups.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://github.com/chaeya/Stacer
Vcs-Browser: https://github.com/chaeya/Stacer.git

Package: stacer
Architecture: all
Depends: ${misc:Depends}
Recommends: systemd, curl
Description: Linux System Optimizer and Monitoring
