Source: hamonikr-stacer
Section: utils
Priority: optional
Maintainer: Kevin Kim <chaeya@gmail.com>
XSBC-Original-Maintainer: Kevin Kim <chaeya@gmail.com>
Build-Depends: debhelper-compat (= 13), cmake, libqt5charts5-dev, libqt5svg5-dev, qttools5-dev, fonts-league-spartan
Standards-Version: 4.6.0
Rules-Requires-Root: no
Vcs-Browser: https://github.com/hamonikr/hamonikr-stacer
Vcs-Git: https://github.com/hamonikr/hamonikr-stacer.git
Homepage: https://github.com/hamonikr/hamonikr-stacer

Package: hamonikr-stacer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, fonts-league-spartan
Replaces: stacer
Conflicts: stacer
Description: Linux system optimizer and monitoring
 Monitor your system (CPU, memory, disk) in a graphical application (qt).
 Change and monitor your services. Summarizes basic system information and
 can show network download/upload speeds/totals.
