[Desktop Entry]
Name=Stacer
Exec=stacer
Comment=System Optimizer and Monitoring
Name[ko]=시스템 관리 도구 Stacer
Comment[ko]=시스템 최적화 및 서비스 관리
Icon=stacer
Type=Application
Terminal=false
Categories=Utility;
Keywords=stacer;system;시스템;서비스;service
